<div id="mpos"  class="row" *ngIf="movie">
    <div class="col-6">
        <img [src]="movie.poster_path | poster "  class="img-thumbnail">
    </div>
    <div class="col-6">

        <h3 id="tit">{{movie.title}}</h3>

        <div class="row mt-3">

            <div class="col-10 text-white">

                <div *ngIf="movie.vote_average">
                    <div class="stars-container">
                        <p><i *ngFor="let star of getStars(movie.vote_average)" class="fas fa-star" ></i>
                        {{movie.vote_average | number:'1.1-2'}}
                        </p>

                    </div>

                </div>

            </div>

        </div>

        <div class="row mt-3">

            <div class="container">
                <h3>Sinopsis:</h3>
                <div class="col text-white text-justify-content">
                    <p *ngIf="movie.overview">{{movie.overview}}</p>
                    <p *ngIf="!movie.overview">No hay sinopsis</p>
                    <p class="text-warning">Fecha de estreno: {{movie.release_date | date:'dd/MM/yyyy'}} </p>

                </div>
            </div>


        </div>

        <div class="row mt-3">

            <div class="col mb-2" >

                <button class="btn btn-outline-info float-right" (click)="goBack()">Regresar</button>

            </div>

        </div>

    </div>
</div>

<hr>

<div class="row mt-5 mb-3" *ngIf="cast.length>0">
    <h3 id="rep">Reparto</h3>
    <div class="col">
        <app-cast-slide-show [cast]="cast"></app-cast-slide-show>
    </div>
</div>
